data/raw/*
!data/raw/README.md
data/processed/images/*
data/processed/masks/*
!data/processed/images/README.md
!data/processed/masks/README.md
data/processed/*.mat
data/splits/*.mat
!data/splits/README.md
models/*.mat
reports/
*.asv
 
# Ignore markdown documentation files
*.md
# Ignore screenshots, sample reports, and text logs
*.png
*.jpg
*.jpeg
*.html
*.txt
